/*
Theme Name: Amin Associates
Theme URI: http://aminassociates.com
Author: Olivine Limited
Author URI: http://olivineltd.com
Description: Modern Buying House Website designed by <a href="http://pomerulbd.com">Md. Pomerul Islam</a>
Tags: responsive-layout
Version: 1.3
License: GNU General Public License V2
License URI: license.txt


/*-----------------------------------------------------------------------------------

/*  1. BASE
*/

html{
    font-size:62.5%;
    -webkit-font-smoothing:antialiased;
    height:100%;
}
body {
    word-wrap:break-word;
    -ms-word-wrap:break-word;
    font-size:14px;
    font-size:1.4rem;
    height:100%;
    line-height:1.6;
}
h1 {
    font-size:36px;
    font-size:3.6rem;
    line-height:1.4;
}
h2 {
    font-size:30px;
    font-size:3.0rem;
    line-height:1;
}
h3 {
    font-size:24px;
    font-size:2.4rem;
    line-height:1.11111;
}
h4 {
    font-size:18px;
    font-size:1.8rem;
    line-height:1.125;
}
h5 {
    font-size:16px;
    font-size:1.6rem;
    line-height:1.125;
}
h6 {
    font-size:14px;
    font-size:1.4rem;
    line-height:1.125;
}
p {
    color:#222222;
    margin:0 0 20px;
}
a {
    color: #103b7a;
    text-decoration: none;
}
a:hover, a:focus {
    color: #134691;
    text-decoration: underline;
}
a:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
table {
    width:80%;
    margin-bottom:20px;
}
th, td {
    padding:8px;
    line-height:20px;
    text-align:left;
    vertical-align:top;
    border:1px solid #ddd;
}
th {
    font-weight:bold;
    border-bottom:2px solid;
    text-align:center;
}
*::-moz-selection {
    background:#000;
    color:#fff;
}
*::selection {
    background:#000;
    color:#fff;
}
img {
    max-width:100%;
    height:auto;
}
button {
    background-image:none;
    background:transparent;
}
.bypostauthor {
    background:#ffffff;
}
.bypostauthor > .comment .comment-author cite:after {
    content:"post author";
    font-size:7px;
    font-size:0.693333rem;
    font-style:italic;
    margin-left:6px;
}
.aligncenter {
    display:block;
    margin-left:auto;
    margin-right:auto;
}
.alignright {
    float:right;
}
.alignleft {
    float:left;
}
figure {
    max-width: 100%;
}
img.aligncenter, img.alignnone {
    margin-bottom:12px;
}
img.alignleft {
    margin:12px 24px 12px 0;
    margin:10px 20px 10px 0;
}
img.alignright {
    margin:12px 0 12px 24px;
    margin:10px 0 10px 20px;
}
.wp-caption .wp-caption-text, .gallery-caption, .entry-caption {
    font-style:italic;
    line-height:2;
    color:#757575;
    font-size:12px;
    font-size:1.2rem;
    text-align:left;
}
input, button, select, textarea {
    max-width: 100%;
}
select {
    width: 100%;
}

/* Text meant only for screen readers. */
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000; /* Above WP toolbar. */
}

/*preloader*/
 .animsition-loading {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    -webkit-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation: scaleout 1.0s infinite ease-in-out;
    animation: scaleout 1.0s infinite ease-in-out;
}
.animsition-loading:after {
    position: fixed;
    top: 50%;
    width: 100%;
    margin-top: 20px;
    font-size: 16px;
    color: #aaa;
    text-align: center;
    content:"Loading";
    display: none;
}
@-webkit-keyframes scaleout {
    0% {
        -webkit-transform: scale(0.0)
    }
    100% {
        -webkit-transform: scale(1.0);
        opacity: 0;
    }
}
@keyframes scaleout {
    0% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    }
    100% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
        opacity: 0;
    }
}
/* ====== HEADER SECTION ======= */
 .admin-bar .navbar-fixed-top {
    top: 32px;
}
.site-title {
    margin: 0;
    font-size: 40px;
    font-size: 4rem;
}
.site-header {
    background: #fff;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 2px -1px;
}
.site-header .navbar-toggle {
    background-color: #fff;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-top: 22px;
    margin-bottom: 22px;
    margin-left: 12px;
}
.site-header .navbar-toggle .icon-bar {
    background: #103b7a;
}
.on-scroll .site-header {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 2px -1px;
}
.appoinment-header {
    position: absolute;
    right: 70px;
    top: 25px;
}
.navbar-brand {
    height: auto;
    border-right: 1px solid #ddd;
    padding: 15px 25px 15px;
    z-index: 100;
    position: relative;
}
.head-title {
    background-size: cover;
    padding: 80px 0;
    margin-bottom: 80px;
    color: #fff;
    background-color: #000;
}
.page-title {
    display: inline;
    float: left;
    background: #07a0dc;
    font-weight: 700;
    display: inline;
    text-align: center;
    /* Needs prefixing */
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    clear: right;
    padding: 7px 15px;
    margin: 0;
}
.breadcrumbs {
    display: inline;
    float: left;
    margin-top: 12px;
    margin-left: 15px;
    font-family:'Rajdhani', sans-serif;
}
.breadcrumbs ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.breadcrumbs ul li {
    float: left;
    text-transform: uppercase;
    margin: 0 10px;
    position: relative;
}
.breadcrumbs ul li a {
    color: #ffffff;
}
.breadcrumbs ul li:before {
    content:"/";
    position: absolute;
    right: -13px;
}
/* ====== MENU NAVIGATIONS ======= */
 .site-navigation {
    width: 100%;
}
.nav-menu {
    font-family:'Rajdhani', sans-serif;
    margin-left: 20px;
    font-size: 16px;
}
.nav-menu ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.nav-menu ul li {
    display: block;
    position: relative;
}
.nav-menu ul li a {
    padding: 15px;
    display: block;
    font-weight: 700;
    text-transform: uppercase;
    border-bottom: 3px solid #777777;
}
.nav-menu ul li a:hover {
    text-decoration: none;
    background-color: #f6f6f6;
    border-color: #103b7a;
}
.nav-menu ul li.active a {
    background-color: #f6f6f6;
    border-color: #103b7a;
}
.nav-menu ul li:hover > a {
    background-color: #f8f8f8;
    border-color: #103b7a;
}
.nav-menu ul li:hover > ul {
    display: block;
}
.nav-menu ul li.menu-item-has-children:before {
    content:"\f0d7";
    font-family: FontAwesome;
    position: absolute;
    color: #07a0dc;
    font-size: 14px;
    left: 95%;
    top: 20px;
    margin-left: -6px;
}
.nav-menu ul li ul {
    background: #103b7a;
}
.nav-menu ul li ul li {
    float: none;
}
.nav-menu ul li ul li a {
    color: #fff;
    display: block;
    padding: 10px 15px;
    border-bottom: none;
}
.nav-menu ul li ul li a:hover {
    background: #f9c937;
    color: #103b7a;
}
.nav-menu ul li ul li:hover > a {
    background: #f9c937;
    color: #103b7a;
}
.nav-menu ul li ul li.menu-item-has-children:before {
    content:"\f0d7";
    top: 11px;
    left: 95%;
}
.nav-menu ul li ul li:last-child a {
    border-bottom: 0;
}
/* ====== HOME PAGE ======= */
 .blue-box {
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    background: rgba(7, 160, 220, 0.9);
    width: 100%;
    color: #fff;
    z-index: 999;
}
.blue-box p {
    margin-bottom: 5px;
    font-size: 13px;
}
.blue-box .btn-white {
    background-color: #fff;
    margin-top: 10px;
}
.blue-box .tlg {
    font-weight: 700;
    font-size: 24px;
}
.row-box {
    margin-bottom: 20px;
}
.the-title {
    position: relative;
    margin-bottom: 10px;
}
.the-title:before {
    content:"";
    position: absolute;
    display: block;
    width: 100%;
    height: 1px;
    background-color: #103b7a;
    left: 0;
    bottom: 0;
}
.the-title h3 {
    font-weight: 700;
    font-size: 24px;
    color: #103b7a;
    text-transform: uppercase;
    padding-bottom: 10px;
    margin-bottom: 0;
    border-bottom: 3px solid #103b7a;
    display: inline-block;
}
.light.the-title h3 {
    color: #ffffff;
    border-color: #ffffff;
    margin-top: 0;
}
.light.the-title:before {
    background-color: #ffffff;
}
.general-title {
    position: relative;
    margin-bottom: 10px;
}
.general-title:before {
    content:"";
    position: absolute;
    display: block;
    width: 97.5%;
    height: 1px;
    background-color: #103b7a;
    left: 15px;
    bottom: 20px;
}
.general-title h3 {
    font-weight: 700;
    font-size: 24px;
    color: #103b7a;
    text-transform: uppercase;
    padding-bottom: 10px;
    margin-top: 0;
    margin-bottom: 20px;
    border-bottom: 3px solid #103b7a;
    display: inline-block;
}
.title-box {
    position: relative;
}
.title-box:before {
    content:"";
    position: absolute;
    display: block;
    width: 100%;
    height: 1px;
    background-color: #fff;
    left: 0;
    bottom: 20px;
}
.title-box h3 {
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 3px solid #fff;
    display: inline-block;
}
.content-box {
    text-align: right;
    padding-right: 40px;
}
.service-section {
    margin-top: 60px;
    margin-bottom: 80px;
}
.service-section .centered-title {
    margin-bottom: 0px;
}
.service-col {
    position: relative;
    min-height: 1px;
    padding: 0px 0 0 30px;
    margin-bottom: 40px;
}
.service-col .service-content {
    width: 80%;
}
.parallax {
    background-attachment: fixed;
}
.service-col-sq .more {
    display: block;
}
@media (min-width: 992px) {
    .service-col {
        float: left;
        width: 33.3333333333%;
    }
}
.service-col h3 {
    margin-top: 0;
    font-weight: 700;
    color: #103b7a;
    padding: 0 40px 0 0px;
}
.service-col figure {
    width: 80px;
    height: 80px;
    -webkit-border-radius: 80px;
    -moz-border-radius: 80px;
    -ms-border-radius: 80px;
    -o-border-radius: 80px;
    border-radius: 80px;
    position: absolute;
    right: 0;
    bottom: 20px;
    overflow: hidden;
}
.service-col .more {
    display: block;
    font-weight: 700;
    font-size: 11px;
    font-style: italic;
    text-transform: uppercase;
    color: #07a0dc;
    margin-top: 10px;
}
.about-section {
    background: url('../images/content/about-bg.jpg?1427608827') no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    padding: 60px 0;
    clear: both;
}
.about-section:before {
    content:"";
    display: table;
}
.about-section:after {
    content:"";
    display: table;
    clear: both;
}
.white-box {
    background: rgba(255, 255, 255, 0.9);
    padding: 40px 0 40px 40px;
    min-height: 456px;
}
.team-title {
    background: #103b7a;
    color: #f9c937;
    font-weight: 700;
    padding: 20px;
}
.team-title h3 {
    margin: 0;
    text-transform: uppercase;
}
.team-thumb {
    width: 33.333%;
    height: auto;
    background: #fff;
    float: left;
    position: relative;
    overflow: hidden;
}
.team-thumb img {
    width: 100%;
}
.team-thumb:hover .team-desc {
    bottom: 0;
}
.team-desc {
    width: 100%;
    height: 100%;
    background: #f9c937;
    background: rgba(16, 59, 122, 0.9);
    position: absolute;
    left: 0;
    bottom: -500px;
    text-align: center;
    padding: 70px 20px 70px 20px;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.team-desc p {
    font-family:'Rajdhani', sans-serif;
    font-weight: 700;
    font-size: 20px;
    margin: 0;
    line-height: 1em;
    color: #ffffff;
}
.team-desc span {
    font-size: 11px;
    color: #ffffff;
    text-transform: uppercase;
}
.team-thumb p.link {
    color: #ffffff;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    padding: 20px;
    line-height: 1;
    width: 100%;
    position: absolute;
    z-index: 2;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.about-title {
    position: relative;
}
.about-title:before {
    content:"";
    position: absolute;
    display: block;
    width: 100%;
    height: 1px;
    background-color: #103b7a;
    left: 0;
    bottom: 20px;
}
.about-title h3 {
    font-weight: 700;
    font-size: 24px;
    color: #103b7a;
    text-transform: uppercase;
    padding-bottom: 10px;
    margin-top: 0;
    margin-bottom: 20px;
    border-bottom: 3px solid #103b7a;
    display: inline-block;
}
.about-content {
    padding-right: 40px;
}
.blog-section .blog-thumb {
    overflow: hidden;
}
.blog-section .blog-thumb img {
    width: 100%;
}
.blog-section .inner {
    background: #103b7a;
    color: #fff;
    padding: 30px;
    margin-bottom: 30px;
}
.blog-section .inner p {
    color: #fff;
}
.blog-section .entry-header time.published {
    font-size: 11px;
    text-transform: uppercase;
}
.blog-section .entry-header .entry-title {
    font-weight: 700;
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.blog-section .entry-header .entry-title a {
    color: #f9c937;
}
.blog-section .more {
    color: #f9c937;
}
.blog-section .blog-col {
    float: left;
    padding: 0 15px;
}
.testimonial-aja {
    position: relative;
}
.testimonial-block .slides .item {
    height: auto !important;
}
.testimonial-block .centered-title {
    margin-bottom: 30px;
}
.testimonial-block .centered-title:before {
    background: #fff;
}
.testimonial-block .centered-title h3 {
    color: #fff;
    border-color: #fff;
}
.testimonial-block .ava {
    width: 90px;
    height: 90px;
    overflow: hidden;
    float: left;
    position: relative;
    z-index: 9;
    border: 3px solid #fff;
}
.testimonial-block .context {
    margin-left: 110px;
    color: #fff;
    position: relative;
}
.testimonial-block .context blockquote {
    padding: 0;
    border: 0;
    font-family: Georgia, Times, serif;
    font-size: 20px;
    font-weight: normal;
}
.testimonial-block .context .who {
    font-size: 16px;
    font-weight: 700;
    color: #f9c937;
    margin-bottom: 30px;
    position: relative;
}
.testimonial-block .context blockquote p {
    color: #ffffff;
    padding-right: 40px;
}
.testimonial-block .context .who:before {
    content:"";
    position: absolute;
    width: 30px;
    height: 3px;
    background: #fff;
    left: 0;
    bottom: -15px;
}
.testimonial-block .context .inner {
    padding: 20px 40px;
}
.testimonial-block .carousel-indicators {
    bottom: -60px;
}
.tbox.first-box {
    margin-left: 1px;
}
.tbox.last-box {
    margin-left: -1px;
}
.faq-contact-section .btn-white {
    background-color: #fff;
    border: 1px solid #ccc;
    width: 100%;
}
.faq-contact-section .row {
    margin-bottom: 15px;
    margin-top: 15px;
}
.faq-contact-section .panel-default > .panel-heading, .site-content .panel-default > .panel-heading {
    background: #103b7a;
    border-color: #103b7a;
    color: #f9c937;
    font-weight: 700;
}
.faq-contact-section .panel-heading .panel-title {
    color: #f9c937;
}
.faq-contact-section .panel, .site-content .panel {
    border-color: #103b7a;
}
.faq-contact-section .panel-body, .site-content .panel-body {
    padding: 30px;
}
.faq-contact-section .panel-title > a:hover, .site-content .panel-title > a:hover {
    text-decoration: none;
}
.site-content .panel-title {
    font-size: 20px;
    color: #f9c937;
}
.custom-file-input {
    color: transparent;
}
.custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
}
.custom-file-input::before {
    content:'Choose files';
    font-family:'Rajdhani', sans-serif;
    text-transform: uppercase;
    display: inline-block;
    background: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
    color: #333;
}
.custom-file-input:hover::before {
    border-color: #ccc;
}
.custom-file-input:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}
.brand-section {
    background: #f4f4f4;
    padding: 60px 0;
}
.col-partner {
    width: 20%;
    height: 100px;
    float: left;
    overflow: hidden;
    text-align: center;
}
.owl-item .partner:hover {
    cursor: pointer;
}
.col-partner > div {
    width: 20%;
    height: 100px;
    display: table-cell;
    vertical-align: middle;
}
.col-partner > div img {
    *width: 20%;
    max-width: 165px;
    display: block;
    margin: 0 auto;
}
.partner-block .owl-carousel .owl-controls {
    display: none !important;
}
.owl-item .partner {
    text-align: center;
}
/* ====== MAIN CONTENT ======= */
 body {
    margin-top: 85px;
}
h1, h2, h3, h4, h5 {
    font-family:'Rajdhani', sans-serif;
}
table tbody {
    vertical-align: top;
}
.btn {
    font-family:'Rajdhani', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}
.btn-line {
    border: 2px solid #fff;
}
.btn-outline {
    border: 2px solid #103b7a;
    background: transparent;
    color: #103b7a;
}
.onleft {
    display: inline;
    float: left;
}
.team-member .col-md-6 {
    overflow: hidden;
    margin-bottom: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid #dddddd;
}
.head-office {
    clear: both;
}
.head-office:before {
    content:"";
    display: table;
}
.head-office:after {
    content:"";
    display: table;
    clear: both;
}
.site-content img {
    max-width: 100%;
}
.post {
    position: relative;
    margin-bottom: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid #ddd;
}
.post .inner {
    margin-left: 130px;
}
.post.format-standard:before, .post.format-image:before, .post.format-video:before, .post.format-link:before, .post.format-audio:before, .post.format-quote:before, .post.format-gallery:before, .post.format-chat:before, .post.format-status:before, .post.format-aside:before, .post.format-contact:before, .post.format-standard.sticky:before {
    font-family: FontAwesome;
    color: #fff;
    font-size: 30px;
    position: absolute;
    display: block;
    width: 100px;
    height: 100px;
    left: 0;
    top: 0;
    background: #07a0dc;
    padding-top: 30px;
    text-align: center;
}
.post.format-standard.sticky:before {
    content:"\f08d";
}
.post.format-standard:before {
    content:"\f15c";
}
.post.format-image:before {
    content:"\f1c5";
}
.post.format-video:before {
    content:"\f03d";
}
.post.format-audio:before {
    content:"\f001";
}
.post.format-gallery:before {
    content:"\f083";
}
.post.format-status:before {
    content:"\f0a1";
}
.post.format-aside:before {
    content:"";
    background: #07a0dc url('./img/aside-icon.png') no-repeat center center;
}
.post.format-chat:before {
    content:"\f086";
}
.post.format-chat .chat p {
    margin-bottom: 10px;
    border-bottom: 1px dotted #eee;
}
.post.format-chat .chat .name {
    font-weight: 700;
    display: block;
}
.post.format-chat .chat p {
    font-style: italic;
}
.post.format-quote:before {
    content:"\f10d";
}
.post.format-quote blockquote {
    font-family:"Times New Roman", Times, serif;
    font-size: 32px;
    line-height: 1.2em;
}
.post.format-quote cite {
    font-size: 16px;
}
.post.format-link:before {
    content:"\f0c1";
}
.post.format-link .entry-title {
    background: #f6f6f6;
}
.post.format-link .entry-title i {
    font-size: 18px;
    color: #f9c937;
}
.post.format-contact:before {
    content:"\f1d8";
}
.post.format-status iframe {
    min-width: 100% !important;
}
#content-wrapper.with-margin, .page-with-margin {
    margin: 80px 0;
}
#main.blog {
    margin: 80px 0;
}
.site-content .gallery-wrapper {
    margin-bottom: 50px;
}
.site-content .testimonial-wrapper {
    margin-bottom: 40px;
}
.entry-content {
    margin-top: 15px;
    line-height: 1.7em;
}
.entry-content h1, .entry-content h2, .entry-content h3 {
    font-weight: 700;
}
.entry-content a {
    color: #07a0dc;
}
.entry-content img {
    max-width: 100%;
}
.entry-content ul {
    list-style-type: square;
}
.entry-content table {
    margin: 20px 0;
    width: 100%;
    font-family:'Rajdhani', sans-serif;
    font-size: 16px;
}
.entry-content table th {
    font-size: 14px;
    padding: 8px 16px;
    background-color: #000;
    border-bottom: 1px solid #fff;
    color: #fff;
}
.entry-content table td {
    padding: 8px 16px;
    background-color: #f4f4f4;
    border-bottom: 1px solid #fff;
}
.entry-content blockquote {
    font-style: italic;
    line-height: 1.3em;
    color: #333;
}
.content-area {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

/*pagination*/
.page-numbers {
    float: left;
}
.page-numbers.current {
    background-color: #103b7a;
    border: 1px solid #103b7a;
    color: #ffffff;
    padding: 5px 10px;
}
.page-numbers:first-child {
    border-radius: 3px 0 0 3px;
}
.page-numbers:last-child {
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}
a.page-numbers {
    border: 1px solid #dddddd;
    background-color: transparent;
    color: #103b7a;
    padding: 5px 10px;
}

@media (min-width: 992px) {
    .content-area {
        float: left;
        width: 66.6666666667%;
    }
}
.content-area.fullwidth {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}
@media (min-width: 992px) {
    .content-area.fullwidth {
        float: left;
        width: 100%;
    }
}
.entry-format {
    width: 100px;
    padding-top: 100px;
    display: inline;
    float: left;
}
.entry-meta {
    text-align: center;
}
.entry-date {
    font-family:'Rajdhani', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    background: #f4f4f4;
    padding: 16px 0;
}
.entry-date .date {
    font-size: 32px;
    display: block;
    line-height: 0.7em;
}
.entry-header {
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
}
.entry-header .author.vcard {
    margin-right: 20px;
    position: relative;
}
.entry-header .author.vcard:before {
    content:"\f0c8";
    position: absolute;
    font-family: FontAwesome;
    right: -10px;
    top: 4px;
    font-size: 6px;
}
.entry-header a {
    color: #07a0dc;
}
.entry-header .comment-link {
    display: inline;
    float: right;
}
.entry-header .comment-link a {
    color: #333;
}
.entry-title {
    font-weight: 700;
    margin: 15px 0 40px;
    position: relative;
}
.entry-title:before {
    content:"";
    position: absolute;
    width: 30px;
    height: 3px;
    background: #103b7a;
    left: 0;
    bottom: -15px;
}
.entry-title a {
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.entry-title a:hover {
    text-decoration: none;
    color: #07a0dc;
}
.social-shares {
    position: relative;
    background: #eee;
    padding: 5px 0;
}
.social-shares > a {
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 700;
}
.social-shares:hover .other-share {
    opacity: 1;
    visibility: visible;
    top: 40px;
}
.social-shares .other-share {
    position: absolute;
    width: 140px;
    background-color: #eee;
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
    padding: 10px;
    left: -20px;
    top: 20px;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 0;
    visibility: hidden;
    z-index: 99;
}
.social-shares .other-share:before {
    content:"";
    position: absolute;
    left: 50%;
    top: -10px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 5px 10px 5px;
    border-color: transparent transparent #eee transparent;
}
.social-shares .other-share a {
    display: block;
    padding: 7px 12px;
    color: #fff;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.social-shares .other-share a.facebook {
    background: #3b5998;
}
.social-shares .other-share a.twitter {
    background: #00aced;
}
.social-shares .other-share a.google-plus {
    background: #dd4b39;
}
.social-shares .other-share a.pinterest {
    background: #cb2027;
}
.social-shares .other-share a.linkedin {
    background: #007bb6;
}
.social-shares .other-share a:hover {
    padding-left: 20px;
    text-decoration: none;
}
.social-shares .other-share i.fa {
    color: #fff;
}
.social-shares .other-share span {
    display: inline-block;
    color: #fff;
    font-weight: 400;
    font-size: 11px;
}
.wp-caption {
    position: relative;
    margin: 13px 0;
    font-family:'Rajdhani', sans-serif;
}
.wp-caption-text {
    position: absolute;
    width: 100%;
    padding: 20px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    bottom: 0;
    left: 0;
    right: 0;
}
.service-wrapper {
    margin-bottom: 40px;
}
.service-col-sq {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 30px;
}
@media (min-width: 992px) {
    .service-col-sq {
        float: left;
        width: 33.3333333333%;
    }
}
.service-col-sq h2 {
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 15px;
    margin-bottom: 20px;
    position: relative;
}
.service-col-sq h2:before {
    content:"";
    position: absolute;
    width: 30px;
    height: 3px;
    background: #103b7a;
    left: 0;
    bottom: 0;
}
.service-col-sq h2 a:hover {
    text-decoration: none;
    color: #07a0dc;
}
.service-col-sq figure {
    margin-bottom: 15px;
}
.service-col-sq img {
    max-width: 100%;
}
.service-col-sq .more {
    font-weight: 700;
    font-style: italic;
    text-transform: uppercase;
    font-size: 12px;
    color: #07a0dc;
}
.tab-content {
    padding: 20px 10px;
}
.gallery-wrapper a {
    margin-bottom: 30px;
}
.about-team-wrapper {
    margin-bottom: 40px;
}
.about-team-wrapper h2, .about-team-wrapper h3 {
    font-weight: 700;
    color: #103b7a;
    margin: 0 0 10px;
    position: relative;
}
.head-office h2:before, .head-office h3:before {
    content:"";
    position: absolute;
    background: #103b7a;
    width: 30px;
    height: 3px;
    left: 0;
    bottom: -40px;
}
.head-office .onright {
    margin-left: 290px;
}
.head-office .onright span {
    margin-top: -7px;
    margin-bottom: 30px;
    display: block;
    font-weight: 700;
    color: #07a0dc;
}
.team-member .onright {
    margin-left: 160px;
}
.team-member .onright span {
    margin-top: -5px;
    font-size: 12px;
    margin-bottom: 10px;
    display: block;
    font-weight: 700;
    color: #07a0dc;
}
.team-member.row {
    border-top: 1px solid #ddd;
    margin-top: 30px;
    padding-top: 30px;
    clear: both;
}
.team-member.row:before {
    content:"";
    display: table;
}
.team-member.row:after {
    content:"";
    display: table;
    clear: both;
}
.short-social {
    background: #eee;
    padding: 15px 0;
}
.short-social ul {
    padding: 0;
    margin: 0;
    text-align: center;
}
.short-social ul li {
    display: inline-block;
    margin-right: 5px;
}
.contact-form > div {
    margin-top: 10px;
    margin-bottom: 10px;
}
.tbox .ava {
    width: 90px;
    height: 90px;
    display: inline;
    float: left;
}
.tbox .context {
    margin-left: 110px;
    margin-bottom: 40px;
}
.tbox .who {
    font-family:'Rajdhani', sans-serif;
    font-weight: 700;
    color: #103b7a;
    font-size: 18px;
}
.tbox small {
    font-size: 14px;
    color: #07a0dc;
}
.tbox blockquote {
    background: #f4f4f4;
    font-size: 14px;
}
.site-footer {
    background: #1360ad;
    color: #fff;
    padding: 60px 0;
}
.site-footer a {
    color: #f9c937;
}
p.copy {
    color: #ffffff;
}
.widget-title-outer {
    position: relative;
}
.widget-title-outer:before {
    content:"";
    position: absolute;
    display: block;
    width: 97.5%;
    height: 1px;
    background-color: #fff;
    left: 15px;
    bottom: 20px;
}
.widget-title-outer h3 {
    font-weight: 700;
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    padding-bottom: 10px;
    margin-top: 0;
    margin-bottom: 20px;
    border-bottom: 3px solid #fff;
    display: inline-block;
}
.site-footer .textwidget p {
    color: #ffffff;
}
.site-footer .textwidget table {
    width: 100%;
}
.site-footer .textwidget th, .site-footer .textwidget td {
    padding: 0;
    border: 0;
}

/*footer widget latest post*/
.site-footer .post-type-widget ul {
    list-style: none;
    padding: 0;
}
.site-footer .post-type-widget li {
    margin-bottom: 25px;
}
.site-footer .post-type-widget figure {
    float: left;
    margin-right: 20px;
}
.site-footer .post-type-widget .post-title {
    font-size: 20px;
    margin-top: 10px;
}
.site-footer .post-type-widget .post-title a {
   color: #ffffff;
}

.paging-wrap {
    margin-top: -30px;
    margin-bottom: 40px;
}
.widget-inner {
    padding: 0 15px;
}
.footer-credit {
    background: #103b7a;
    padding: 40px 0 20px;
    color: #fff;
    font-family:'Rajdhani', sans-serif;
    clear: both;
}
.footer-credit:before {
    content:"";
    display: table;
}
.footer-credit:after {
    content:"";
    display: table;
    clear: both;
}
.list-galleries {
    padding: 0;
    margin: 0;
    list-style: none;
}
.list-galleries li {
    float: left;
    margin-right: 15px;
    margin-top: 7px;
    margin-bottom: 8px;
}
.list-galleries li:nth-child(3n) {
    margin-right: 0;
}
.copy a {
    color: #f9c937;
}
.list-socmed {
    list-style-type: none;
    padding: 0;
    text-align: right;
}
.list-socmed li {
    display: inline-block;
    margin: 0 10px;
}
.list-socmed li a {
    color: #fff;
}
.format-audio .entry-media, .format-video .entry-media, .format-contact .entry-media {
    position: relative;
    padding-bottom: 60%;
    height: 0;
    overflow: hidden;
}
.format-audio .entry-media iframe, .format-video .entry-media iframe, .format-contact .entry-media iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid #fff;
}
.page-template-contact-template .entry-media .acf-map {
    height: 400px;
}
.page-template-contact-template #secondary th, .page-template-contact-template #secondary td {
    border: 0;
    padding: 3px 0;
}
.page-template-contact-template #secondary table {
    width: 100%;
}
.entry-media img {
    max-width: 100%;
    width: 100%;
}
#secondary .widget {
    padding: 30px;
    background: #f4f4f4;
    margin-bottom: 30px;
}
#secondary .widget ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
#secondary .widget ul li {
    border-bottom: 1px solid #ddd;
    clear: both;
    padding: 10px 0;
}
#secondary .widget ul li:before {
    content:"";
    display: table;
}
#secondary .widget ul li:after {
    content:"";
    display: table;
    clear: both;
}
#secondary .widget iframe {
    width: 100% !important;
    min-height: 300px;
    border: 1px solid transparent;
}
#secondary .widget-title-outer:before {
    background-color: #07a0dc;
    left: 0;
}
#secondary .widget-title-outer h3 {
    color: #103b7a;
    border-color: #07a0dc;
}
#secondary .post-type-widget .post-title {
    font-size: 18px;
    font-weight: 700;
    margin: 5px 0 10px 125px;
}
#secondary .post-type-widget .post-thumbnail {
    width: 110px;
    height: 80px;
    display: inline;
    float: left;
}
#secondary .post-type-widget .post-category {
    font-size: 11px;
    text-transform: uppercase;
    margin-left: 15px;
}
#secondary .post-type-widget ul li {
    padding-top: 20px;
    padding-bottom: 20px;
}
#secondary .post-type-widget ul li:first-child {
    padding-top: 5px;
}
#secondary .post-type-widget ul li:last-child {
    border-bottom: 0;
}
#secondary .searchform {
    position: relative;
}
#secondary .searchform input[type="search"] {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #ddd;
    padding: 10px;
    font-size: 14px;
    width: 100%;
}
#secondary .searchform input[type="submit"] {
    position: absolute;
    top: 7px;
    right: 6px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    background: #07a0dc;
    color: #fff;
    border: 0;
    padding: 5px 7px;
    border-radius: 3px;
    font-family:'Rajdhani', sans-serif;
}
#secondary .tagcloud a {
    padding: 3px 10px;
    background-color: #103b7a;
    color: #fff;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    font-weight: 700;
    font-size: 13px;
    line-height: 2.3em;
}
#secondary .tagcloud a:hover {
    text-decoration: none;
    background-color: #07a0dc;
    font-weight: 700;
    padding: 3px 10px;
}
#secondary .widget_archive li, #secondary .widget_categories li {
    font-weight: 700;
    color: #07a0dc;
    text-align: right;
}
#secondary .widget_archive li a, #secondary .widget_categories li a {
    float: left;
}
#secondary .widget .children li {
    padding-left: 10px;
}
.author-wrapper {
    padding-bottom: 20px;
    margin-top: -10px;
    margin-bottom: 20px;
}
.author-wrapper h2 {
    margin: 0px 0 25px;
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
}
.author-ava {
    width: 80px;
    height: 80px;
    float: left;
    overflow: hidden;
}
.author-context {
    margin-left: 100px;
}
.author-name {
    font-family:'Rajdhani', sans-serif;
    font-size: 16px;
    font-weight: 700;
}
.related-content {
    background: #103b7a;
    padding: 30px;
    margin-bottom: 40px;
}
.related-content h2 {
    margin: 0px 0 25px;
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
    color: #f9c937;
}
.related-content img {
    max-width: 100%;
}
.related-title h3 {
    margin: 15px 0;
    line-height: 0.9em;
}
.related-title a {
    color: #fff;
    font-size: 18px;
}
.comment-outer {
    background-color: #fff;
    position: relative;
    z-index: 3;
}
.comments-title:before {
  content: "";
  position: absolute;
  background: #000;
  height: 1px;
  width: 100%;
  left: 0;
  top: 38px;
}
.comment {
    clear: both;
    padding: 15px 0;
    margin-bottom: 15px;
    border-bottom: 1px solid #ededed;
}
.comment:before {
    content:"";
    display: table;
}
.comment:after {
    content:"";
    display: table;
    clear: both;
}
.comment:last-child {
    border-bottom: 0;
    margin-bottom: 0;
}
.comment .reply, .comment .fn {
    float: left;
}
.comment .fn {
    margin-right: 10px;
    font-family:'Rajdhani', sans-serif;
    font-size: 16px;
}
.comment .reply {
    position: relative;
    padding-left: 13px;
    font-weight: 700;
    font-style: italic;
}
.comment .reply a {
    color: #07a0dc;
}
.comment .reply:before {
    content:"";
    position: absolute;
    width: 3px;
    height: 3px;
    background-color: #333;
    left: 0;
    top: 10px;
}
.comment-meta {
    overflow: hidden;
}
.comment-metadata {
    font-size: 11px;
    text-transform: uppercase;
    margin: 5px 0;
}
.comment-metadata a {
    color: #878787;
}
.comments-title {
    font-size: 24px;
    font-weight: 700;
    margin: 0 0 30px;
    padding-bottom: 11px;
    display: inline-block;
    border-bottom: 3px solid #000;
}
.comment-list {
    list-style: none;
    padding: 0 0 20px 0;
    margin: 0;
    font-size: 14px;
    border-bottom: 1px solid #ededed;
}
.comment-author {
    width: 80px;
    height: 80px;
    float: left;
    overflow: hidden;
}
.comment-author img {
    display: block;
}
.comment-wrapper {
    margin-left: 95px;
}
.children {
    padding: 0;
    margin: 0;
    list-style: none;
}
.children .comment {
    padding-top: 25px;
    margin-top: 25px;
    margin-bottom: 0;
    border-top: 1px solid #ededed;
    position: relative;
}
.children .comment:first-child {
    border-bottom: 0;
}
.children .comment:before {
    content:"\f064";
    position: absolute;
    font-family: FontAwesome;
    font-size: 18px;
    top: 40%;
    left: 4%;
    color: #07a0dc;
}
.children .comment-wrapper {
    margin-right: 95px;
}
.children .comment-author {
    float: right;
}
.comment-respond {
    background: #f4f4f4;
    padding: 40px 90px;
    margin-bottom: 60px;
}
.comment-respond .comment-reply-title {
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
}
.comment-respond .comment-notes {
    margin-bottom: 20px;
    font-style: italic;
}
.comment-respond .required {
    color: red;
    display: none;
}
.comment-respond label {
    display: block;
    font-family:'Rajdhani', sans-serif;
    text-transform: uppercase;
}
.comment-respond input[type="text"], .comment-respond input[type="url"], .comment-respond input[type="email"], .comment-respond textarea {
    background-color: #f9f9f9;
    border: 1px solid #ededed;
    width: 100%;
    padding: 10px;
}
.comment-respond input[type="submit"] {
    color: #f9c937;
    background-color: #103b7a;
    border-color: #103b7a;
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    border: 1px solid transparent;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 3px;
    font-family:'Rajdhani', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}
.service-page {
    margin-bottom: 60px;
    clear: both;
}
.service-page:before {
    content:"";
    display: table;
}
.service-page:after {
    content:"";
    display: table;
    clear: both;
}
.main-picture {
    margin-bottom: 30px;
}
.gallery-box > div {
    margin-bottom: 30px;
}
.modal-dialog.modal-md {
    z-index: 10000;
}
.space {
    width: 100%;
    height: 40px;
    display: block;
    clear: both;
}
.space:before {
    content:"";
    display: table;
}
.space:after {
    content:"";
    display: table;
    clear: both;
}
.error-page {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 40px;
}
@media (min-width: 992px) {
    .error-page {
        float: left;
        width: 66.6666666667%;
    }
}
.error-header {
    text-align: center;
}
.result-section {
    margin-bottom: 30px;
}
.result-section .entry-title {
    color: #103b7a;
    margin-bottom: 30px;
}
.result-section .entry-link a {
    color: #07a0dc;
}
.var-section {
    margin-bottom: 30px;
}
.var-section h2 {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
}
.var-section form {
    background: #f9c937;
    padding: 20px;
    position: relative;
    -webkit-box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.1);
}
.var-section form .btn {
    position: absolute;
    right: 27px;
    top: 27px;
    background: #07a0dc;
    color: #fff;
}
.var-section .input-text {
    padding: 10px;
    width: 100%;
}
.var-section ul {
    padding: 0;
    list-style-type: square;
    list-style-position: inside;
}
.modal {
    z-index: 99999;
}
.modal-backdrop {
    bottom: 0;
    position: fixed;
    z-index: 9999;
}
@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-inner > .item {
        -webkit-transition: -webkit-transform .6s ease-in-out;
        -o-transition: -o-transform .6s ease-in-out;
        transition: transform .6s ease-in-out;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-perspective: 1000;
        perspective: 1000;
    }
    .carousel-inner > .item.next, .carousel-inner > .item.active.right {
        left: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }
    .carousel-inner > .item.prev, .carousel-inner > .item.active.left {
        left: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
    .carousel-inner > .item.next.left, .carousel-inner > .item.prev.right, .carousel-inner > .item.active {
        left: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

/* ======= jQuery FlexSlider v2.2.0 ======= */
 .featured-slider {
    position: relative;
}
.featured-slider p {
    color: #ffffff;
}
.featured-slider .btn-line {
    color: #ffffff;
}
.featured-slider .btn-line:hover {
    color: #f9c937;
}
.flex-caption.text-right {
    text-align: right;
    right: 5%;
}
.flex-caption.text-center {
    text-align: center;
}
.flex-container a:active, .flexslider a:active, .flex-container a:focus, .flexslider a:focus {
    outline: none;
}
.slides, .flex-control-nav, .flex-direction-nav {
    position: relative;
    z-index: 1;
    margin: 0;
    padding: 0;
    list-style: none;
}
.flexslider {
    margin: 0;
    padding: 0;
    border: 0;
}
.flexslider .slides > li {
    display: none;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-backface-visibility: hidden;
    position: relative;
}
.flexslider .slides img {
    display: block;
    width: 100%;
}
.flex-pauseplay span {
    text-transform: capitalize;
}
.slides:after {
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
    content:"\0020";
    line-height: 0;
}
html[xmlns] .slides {
    display: block;
}
* html .slides {
    height: 1%;
}
.no-js .slides > li:first-child {
    display: block;
}
.flexslider {
    position: relative;
    margin: 0;
    zoom: 1;
}
.flex-viewport {
    max-height: 2000px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
.loading .flex-viewport {
    max-height: 300px;
}
.flexslider .slides {
    zoom: 1;
}
.carousel li {
    margin-right: 5px;
}
.flex-direction-nav {
    *height: 0;
}
.flex-direction-nav a {
    position: absolute;
    top: 50%;
    z-index: 10;
    display: none;
    overflow: hidden;
    margin: -20px 0 0;
    width: 40px;
    height: 40px;
    color: rgba(0, 0, 0, 0.8);
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
    opacity: 0;
    cursor: pointer;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
}
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {
    opacity: 1;
}
.flex-direction-nav .flex-disabled {
    opacity: 0 !important;
    filter: alpha(opacity=0);
    cursor: default;
}
.flex-direction-nav a:before {
    display: inline-block;
    content:'\f001';
    font-size: 40px;
    font-family:"flexslider-icon";
}
.flex-direction-nav a.flex-next:before {
    content:'\f002';
}
.flex-pauseplay a {
    position: absolute;
    bottom: 5px;
    left: 10px;
    z-index: 10;
    display: block;
    overflow: hidden;
    width: 20px;
    height: 20px;
    color: #000;
    opacity: 0.8;
    cursor: pointer;
}
.flex-pauseplay a:before {
    display: inline-block;
    content:'\f004';
    font-size: 20px;
    font-family:"flexslider-icon";
}
.flex-pauseplay a:hover {
    opacity: 1;
}
.flex-pauseplay a.flex-play:before {
    content:'\f003';
}
.flex-control-nav {
    position: absolute;
    bottom: -30px;
    width: 100%;
    text-align: center;
}
.flex-control-nav li {
    display: inline-block;
    margin: 0 6px;
    zoom: 1;
    *display: inline;
}
.flex-control-paging li a {
    display: block;
    width: 11px;
    height: 11px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background: #666;
    background: rgba(255, 255, 255, 0.5);
    -webkit-box-shadow: inset 0 0 3px rgba(255, 255, 255, 0.3);
    -moz-box-shadow: inset 0 0 3px rgba(255, 255, 255, 0.3);
    box-shadow: inset 0 0 3px rgba(255, 255, 255, 0.3);
    text-indent: -9999px;
    cursor: pointer;
    -o-border-radius: 20px;
    -o-box-shadow: inset 0 0 3px rgba(255, 255, 255, 0.3);
}
.flex-control-paging li a:hover {
    background: #333;
    background: rgba(255, 255, 255, 0.7);
}
.flex-control-paging li a.flex-active {
    background: rgba(255, 255, 255, 0.9);
    cursor: default;
}
.flex-control-thumbs {
    position: static;
    overflow: hidden;
    margin: 5px 0 0;
}
.flex-control-thumbs li {
    float: left;
    margin: 0;
    width: 25%;
}
.flex-control-thumbs img {
    display: block;
    width: 100%;
    opacity: .7;
    cursor: pointer;
}
.flex-control-thumbs img:hover {
    opacity: 1;
}
.flex-control-thumbs .flex-active {
    opacity: 1;
    cursor: default;
}
.featured-slider .slides li {
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    min-height: 500px;
}
.flex-caption {
    position: absolute;
    right: 0;
    top: 50%;
    text-align: center;
    width: 100%;
    color: #fff;
    margin-top: -50px;
}
.flex-caption h2 {
    font-weight: 700;
    margin: 0;
    font-size: 48px;
}
.flex-caption p {
    margin-bottom: 20px;
}
.service-flexslider .flex-control-thumbs {
    border-top: 5px solid #f9c937;
    margin-top: 0;
}
.service-flexslider .slides li {
    height: auto !important;
    overflow: hidden;
    background: #000;
}
.service-flexslider .slides li img {
    width: 100%;
}

/* ----------------------- CUSTOM ---------------------- */
.contact-person p {
    background: rgba(0,0,0,.1);
    padding: 5px 0;
}
.contact-person {
    text-align: center;
}

.site-footer {
    display: none !important;
}

.row.gallery-wrapper img {
    height: 250px !important;
    width: 350px !important;
}

.about-tab table td {
    border: none;
}
.style35 {
	font-size: 20px;
        text-transform: uppercase;
        font-weight: bold;
}

/* ====== REPSONSIVE UTILITIES ======= */
 @media (max-width: 1024px) {
    .service-col {
        height: 300px;
    }
}
@media (min-width: 768px) {
    .site-navigation {
        position: relative;
        min-height: 1px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .nav-menu ul {
        display: inline;
        float: left;
    }
    .nav-menu ul li {
        float: left;
    }
    .nav-menu ul li a {
        padding: 30px 15px;
        border-color: #fff;
    }
    .nav-menu ul li.menu-item-has-children:before {
        color: #07a0dc;
        left: 50%;
        top: 55%;
    }
    .nav-menu ul li ul {
        display: none;
        position: absolute;
        z-index: 999;
        top: 100%;
        left: 0;
        width: 220px;
    }
    .nav-menu ul li ul li.menu-item-has-children:before {
        content:"\f0da";
    }
    .nav-menu ul li ul ul {
        top: 0;
        left: 100%;
    }
    .appoinment-header {
        right: 25px;
    }
    .blue-box {
        position: absolute;
        left: 40px;
        top: 0;
        bottom: 0;
        width: 340px;
    }
    .flex-caption {
        text-align: right;
        right: 5%;
    }
}
@media (min-width: 768px) and (min-width: 992px) and (max-width: 1024px) {
    .site-navigation {
        float: left;
        width: 70%;
    }
    .nav-menu ul li a {
      padding: 30px 10px;
    }
}
@media only screen and (max-width: 992px) {
    .flex-caption.text-right {
        padding-left: 50%
    }
    .service-col {
        width: 100% !important;
        padding-left: 0;
        position: relative;
        height: auto;
    }
    .service-col figure {
        top: 30px;
    }
    #pgc-1684-2-0, #pgc-1684-2-1 {
        width: auto !important;
    }
    .blog-section .blog-col {
        width: 100% !important
    }
    .team-member .col-md-6 {
        padding-bottom: 30px;
    }
    .site-footer .post-type-widget li {
        overflow: hidden;
    }
    .service-col-sq {
        width: 100% !important;
    }
}
@media (max-width: 768px) {
    /*menu*/
    .site-navigation .nav-menu {
        margin-left: 0;
    }
    .site-navigation .nav-menu ul.menu {
        border-top: 1px solid #ddd;
        width: 100%;
    }

    /*block*/
    .col-partner {
        width: 50%;
    }
    .list-galleries li:nth-child(3n) {
        margin-right: 15px;
    }
    .site-footer .widget {
        margin-bottom: 30px;
    }
    .testimonial-block .context {
        margin-bottom: 60px;
    }
    .testimonial-block .carousel-indicators {
        bottom: -30px;
    }
    .contact-form-column .row > div {
        margin-bottom: 15px;
    }
    .faq-contact-section .row {
        margin-top: 0;
        margin-bottom: 0;
    }
    .service-col figure {
        right: 10px;
    }
    .team-member .col-md-6 {
        margin-top: 15px;
    }
    .head-office {
        margin-top: 40px;
    }
    .service-col, .service-col-sq {
        width: 100% !important;
    }
    /*gallery*/
    .gallery-wrapper img {
        margin: 0 auto;
    }
    /*blog builder*/
    .blog-section .blog-col {
        width: 100% !important;
    }
    .flex-caption.text-right {
        padding-left: 60px;
    }
    .input-group-btn p {
        overflow: hidden;
    }
    p.copy, .list-socmed {
        text-align: center;
    }
}
@media screen and (max-width: 480px) {
    .appoinment-header {
        display: none;
    }
    .post .inner {
        margin-left: 0;
        margin-top: 20px;
    }
    .social-shares .other-share {
        width: 100%;
        left: 0;
    }
    .centered-title:before {
        width: 91%;
    }
    .copy, .list-socmed {
        text-align: center;
    }
    .breadcrumbs {
        margin-left: 0;
    }
    .breadcrumbs li:first-child {
        margin-left: 0;
    }
    .head-office .onright {
        margin-left: 0;
        margin-top: 30px;
        float: left;
    }
    .entry-format {
        float: none;
    }
    .comment-respond {
        padding: 30px;
    }
    .service-col .service-content {
        width: 70%;
    }
    .team-thumb p.link {
        font-size: 18px;
    }
    .team-desc {
        padding: 20px;
        line-height: 12px;
    }
    .team-desc p {
        font-size: 15px;
    }
    .team-desc span {
        font-size: 9px;
    }
}
@media screen and (max-width: 320px) {
    .col-partner {
        width: 100%;
    }
}

