/*
=========================================
=========================================

Bootstrapious Boilerplate Template

=========================================
========================================= */
/*
* ==========================================================
*     GENERAL STYLE
* ==========================================================
*/
a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    transition: all 0.3s;
}

ul {
    padding: 0;
    margin: 0;
}

body {
    overflow-x: hidden;
}

i {
    display: inline-block;
}

span {
    display: inline-block;
}

span {
    font-size: 13px;
}

p {
    color: #888;
}

i[class*='icon-'] {
    transform: translateY(4px);
}

table {
    font-size: 0.9em;
    color: #666;
}

.btn-xs {
    font-size: 0.7em !important;
    padding: 2px 5px !important;
    border-radius: 2px !important;
}

.badge {
    font-weight: 400;
    border-radius: 0;
}

.badge.badge-primary {
    background: #1E4770;
}

.page {
    position: absolute;
    top: 0;
    right: 0;
    transition: width 0.3s linear;
    width: calc(100% - 150px);
    background-color: #F4F7FA;
    min-height: 100vh;
    padding-bottom: 50px;
}

.page.active {
    width: calc(100% - 70px);
}

.login-page,
.register-page {
    width: 100%;
}

h2 {
    color: #555;
    font-weight: 400;
}

.gmpc {
    padding: 0 !important;
    width: 100% !important;
    height: auto !important;
    box-shadow: none !important;
    color: #1E4770 !important;
    border-right: 1px solid #eee;
}

@media (max-width: 576px) {
    .gmpc {
        border-right: none;
        border-bottom: 1px solid #eee;
    }
}

.breadcrumb-holder {
    background: #eceeef;
}

.breadcrumb-holder .breadcrumb {
    padding: 15px 0;
    font-size: 0.85em;
    font-weight: 300;
    color: #999;
    margin-bottom: 0;
}

.breadcrumb-holder .breadcrumb a:hover, .breadcrumb-holder .breadcrumb:focus {
    text-decoration: none;
}

.breadcrumb-holder .breadcrumb .container {
    padding: 0;
}

.card {
    height: 100%;
    border: none;
    background: #fff;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 0;
}

.card-header {
    height: 50px;
    background-color: #fff;
    border-bottom-color: #f3f3f3;
    border-top: none;
}

.card-header h2,
.card-header h3 {
    margin-bottom: 0;
}

.display {
    font-weight: 400 !important;
}

input.form-control-custom {
    display: none;
}

input.form-control-custom:checked + label::before {
    background: #59b357 !important;
}

input.form-control-custom:checked + label::after {
    opacity: 1 !important;
}

input.form-control-custom.radio-custom + label::before {
    border-radius: 50%;
}

input.form-control-custom.radio-custom + label::after {
    content: '';
    width: 6px;
    height: 6px;
    line-height: 6px;
    background: #fff;
    border-radius: 50%;
    top: 7px;
    left: 5px;
}

input.form-control-custom[disabled] + label {
    cursor: not-allowed;
}

input.form-control-custom[disabled] + label::before, input.form-control-custom[disabled] + label::after {
    border: 2px solid #aaa;
    cursor: not-allowed;
}

input.form-control-custom[checked] + label::before, input.form-control-custom[checked] + label::after {
    border: none;
}

input.form-control-custom + label {
    font-size: 0.75em;
    margin-bottom: 0;
    margin-left: 0;
    color: #999;
    padding-left: 25px;
    padding-top: 2px;
    position: relative;
}

input.form-control-custom + label span {
    margin-left: 20px;
}

input.form-control-custom + label::before {
    content: '';
    display: block;
    width: 16px;
    height: 16px;
    line-height: 16px;
    background: #ddd;
    color: #fff;
    text-align: center;
    position: absolute;
    top: 2px;
    left: 0;
    transition: all 0.1s;
    cursor: pointer;
}

input.form-control-custom + label::after {
    content: '\f00c';
    display: block;
    font-family: 'FontAwesome';
    font-size: 8px;
    color: #fff;
    position: absolute;
    top: 4px;
    left: 4px;
    transition: all 0.1s;
    opacity: 0;
    cursor: pointer;
}

button {
    cursor: pointer;
}

.section-padding {
    padding: 20px 0;
}

.section-no-padding-bottom {
    padding-bottom: 0;
}

@media (min-width: 992px) {
    .container-fluid {
        /*padding: 0 50px;*/
    }
}

/*
* ==========================================================
*     Main NAVBAR
* ==========================================================
*/
nav.navbar {
    background: #1E4770;
    /* Navbar Brand --------- */
    /*  Dropdowns ------------ */
    /* Toggle Button ---------- */
}

nav.navbar .side-navbar-wrapper {
    width: 100%;
    height: 100%;
}

nav.navbar .container-fluid {
    width: 100%;
}

nav.navbar a {
    font-size: 12px;
    color: #fff;
    position: relative;
}

nav.navbar .badge {
    position: absolute;
    top: 0;
    right: 0;
}

nav.navbar a.logout i {
    margin-left: 5px;
}

nav.navbar small {
    font-size: 0.75em;
    color: #999;
}

nav.navbar a.navbar-brand {
    margin-left: 10px;
}

nav.navbar .brand-text {
    text-transform: uppercase;
}

nav.navbar .brand-text strong {
    font-size: 1em;
}

nav.navbar .dropdown-menu {
    width: 320px;
    right: 0;
    left: auto;
    float: left;
    margin-top: 16px;
    padding: 20px;
    font-size: 1.1em;
}

nav.navbar .dropdown-menu a {
    font-size: 0.75em;
    color: #666;
    padding: 10px;
}

nav.navbar .dropdown-menu a:active {
    color: #fff;
}

nav.navbar .dropdown-menu a:active span {
    color: #fff;
}

nav.navbar .dropdown-menu a span {
    color: #777;
}

nav.navbar .dropdown-menu a i {
    margin-right: 5px;
}

nav.navbar .msg-body span,
nav.navbar .msg-body strong {
    display: block;
}

nav.navbar .msg-body span {
    font-size: 0.85em;
}

nav.navbar .msg-profile {
    margin-right: 10px;
    width: 50px;
}

nav.navbar .notification-content {
    font-size: 0.8em;
}

nav.navbar a.menu-btn {
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    text-align: center;
    padding: 0 !important;
}

nav.navbar a.menu-btn i[class*='icon-'] {
    transform: translateY(4px);
}

nav.navbar a.menu-btn:hover {
    background: #1E4770;
}

/*  NAVBAR MEDIAQUERIES ---------------------------------- */
@media (max-width: 576px) {
    nav.navbar .dropdown-menu {
        width: auto;
        right: -40px;
    }
    nav.navbar .notification {
        flex-direction: column;
    }
}

@media (min-width: 992px) {
    nav.navbar .dropdown-menu strong {
        font-weight: 400;
    }
    nav.navbar .dropdown-menu a {
        font-size: 0.9em;
    }
}

/*
* ==========================================================
*     SIDE NAVBAR
* ==========================================================
*/
nav.side-navbar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 150px;
    text-align: left;
    background: #222D32;
    color: #fff;
    transition: all 0.3s linear;
    z-index: 999;
    overflow-y: auto;
    /* arrow rotation -------------- */
    /*  Side navbar small ------------------------ */
}

nav.side-navbar .scrolled-wrapper {
    width: 100%;
    height: 100%;
}

nav.side-navbar.hide {
    left: -70px;
}

nav.side-navbar a.brand-small {
    text-transform: uppercase;
    font-weight: 500;
    padding: 0;
}

nav.side-navbar a.brand-small:hover, nav.side-navbar a.brand-small:focus {
    background: none;
}

nav.side-navbar a.brand-small strong {
    font-size: 1.5em;
}

nav.side-navbar li {
    position: relative;
}

nav.side-navbar li.active a {
    background: #1A2226;
    border-left: 3px solid #1E4770;
}

nav.side-navbar li ul.collapse a {
/*    padding-left: 20px;*/
    border-left: 2px solid #1E4770;
}

nav.side-navbar li ul.collapse a:hover {
    background: #121212;
}

nav.side-navbar .sidenav-header {
    background: #222D32;
    padding: 14px;
    margin-bottom: 10px;
}

nav.side-navbar .sidenav-header img {
    width: 50px;
    height: 50px;
}

nav.side-navbar .sidenav-header span {
    font-size: 12px;
    color: #666;
}

nav.side-navbar .sidenav-header h2 {
    margin: 10px 0 0;
}

nav.side-navbar a {
    font-size: 0.95em;
    font-weight: 300;
    color: #fff;
    text-decoration: none;
    width: 100%;
    padding: 5px;
}

nav.side-navbar a:focus, nav.side-navbar a:hover, nav.side-navbar a[aria-expanded="true"] {
    background: #1A2226;
    color: #fff;
    border-radius: 2px;
}

nav.side-navbar li ul {
    background: #292929;
    position: relative;
    min-width: 100%;
    left: 0;
    padding-left: 0;
}

nav.side-navbar li ul a {
    /*padding-left: 20px;*/
    font-size: 12px;
}

nav.side-navbar span {
    display: inline-block;
}

nav.side-navbar i {
    font-size: inherit;
    transition: all 0.3s;
    margin-right: 10px;
}

nav.side-navbar .badge {
    display: inline-block;
    font-size: 0.6em;
}

nav.side-navbar .arrow {
    display: block;
    font-size: 1em;
    transform: none;
}

nav.side-navbar .arrow i {
    margin: 0;
}

nav.side-navbar a[aria-expanded="false"] .arrow {
    transform: none;
    transform: rotate(90deg);
}

nav.side-navbar .brand-small {
    display: none;
}

nav.side-navbar.shrink {
    width: 70px;
    text-align: center;
}

nav.side-navbar.shrink .brand-small {
    display: block;
}

nav.side-navbar.shrink .sidenav-header-inner {
    display: none;
}

nav.side-navbar.shrink i {
    margin-right: 0;
    font-size: 1.2em;
}

nav.side-navbar.shrink .arrow {
    float: none;
    transform: none !important;
}

nav.side-navbar.shrink .badge {
    display: none;
}

nav.side-navbar.shrink span {
    font-size: 0.6em;
    display: block;
}

/* SIDE NAVBAR MEDIAQUERIES ------------------------------ */
@media (max-width: 1200px) {
    .page {
        width: 100%;
    }
    .page.active {
        width: 100%;
    }
    .page.active-sm {
        width: calc(100% - 70px);
    }
    nav.side-navbar {
        left: -70px;
        width: 70px;
        text-align: center;
    }
    nav.side-navbar.show-sm {
        left: 0 !important;
    }
    nav.side-navbar a {
        font-size: 1em;
    }
    nav.side-navbar .brand-small {
        display: block;
    }
    nav.side-navbar .sidenav-header-inner {
        display: none;
    }
    nav.side-navbar i {
        margin-right: 5px;
/*        font-size: 1.2em;*/
    }
    nav.side-navbar .arrow {
        float: none;
        transform: none !important;
    }
    nav.side-navbar .badge {
        display: none;
    }
    nav.side-navbar span {
        font-size: 0.65em;
        display: block;
    }
    nav.side-navbar li ul a {
        font-size: 0.6em;
    }
}

@media (min-width: 992px) {
    nav.side-navbar a {
/*        font-size: 1.1em;*/
    }
}

/*
* ==========================================================
*      DASHBOARD COUNTS
* ==========================================================
*/
section.dashboard-counts {
    color: #333;
}

section.dashboard-counts .count-title span {
    font-size: 0.8em;
    color: #aaa;
    display: block;
}

section.dashboard-counts .count-title i {
    font-size: 1.5em;
    color: #1E4770;
}

section.dashboard-counts .icon {
    margin-right: 10px;
}

section.dashboard-counts strong {
    font-size: 0.9em;
    font-weight: 500;
    color: #555;
    display: block;
}

section.dashboard-counts .count-number {
    font-size: 2.2em;
    font-weight: 300;
}

/* DASHBOARD COUNTS MEDIAQUERIES ------------------------- */
@media (max-width: 992px) {
    section.dashboard-counts div[class*='col-'] {
        margin-bottom: 20px;
    }
}

@media (min-width: 992px) {
    section.dashboard-counts strong {
        font-size: 1em;
    }
    section.dashboard-counts span {
        font-size: 0.9em;
    }
    section.dashboard-counts .count-number {
        font-size: 3em;
    }
}

/*
* ==========================================================
*     DASHBOARD HEADER
* ==========================================================
*/
section.dashboard-header {
    background: #fff;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

section.dashboard-header .check-lists {
    margin-top: 20px;
}

section.dashboard-header .check-lists label {
    font-size: 0.75em;
}

section.dashboard-header #pieChart {
    max-width: 300px !important;
    max-height: 300px !important;
    margin: 0 auto;
}

section.dashboard-header p {
    font-size: 0.75em;
    font-weight: 400;
    color: #888;
}

section.dashboard-header li {
    margin-bottom: 10px;
}

/* DASHBOARD HEADER MEDIAQUERIES ------------------------- */
@media (max-width: 992px) {
    section.dashboard-header {
        background: none;
        border: none;
        padding: 0;
        margin-bottom: 40px;
    }
    section.dashboard-header div[class*='col-'] {
        margin-bottom: 40px;
    }
    section.dashboard-header div[class*='col-'] .wrapper {
        background: #fff;
        padding: 30px;
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
        height: 100%;
    }
}

@media (min-width: 992px) {
    section.dashboard-header p {
        font-size: 0.9em;
    }
    section.dashboard-header h2 {
        font-size: 1.3rem;
    }
    section.dashboard-header .check-lists label {
        font-size: 0.85em;
    }
}

/*
* ==========================================================
*      STATISTICS
* ==========================================================
*/
section.statistics {
    /* User Activity ------------- */
}

section.statistics div[class*='col-'] .wrapper {
    background: #fff;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    padding: 20px;
    height: 100%;
}

section.statistics h2 {
    margin-bottom: 20px;
}

section.statistics p {
    font-size: 0.85em;
    color: #999;
    margin-bottom: 5px;
}

section.statistics .income .icon {
    font-size: 3.5em;
}

section.statistics .income .number {
    font-size: 2.5em;
    color: #555;
}

section.statistics .income strong {
    font-size: 1.5em;
}

section.statistics .data-usage canvas {
    width: 100%;
    max-width: 200px;
    border: none;
}

section.statistics .data-usage strong {
    font-size: 1.5em;
    display: block;
}

section.statistics .data-usage small {
    font-size: 0.85em;
    font-weight: 300;
    color: #aaa;
}

section.statistics .data-usage span {
    font-size: 0.95em;
    color: #aaa;
    display: block;
}

section.statistics .data-usage p {
    margin-top: 10px;
    margin-bottom: 0;
}

section.statistics .user-activity .number {
    font-size: 2.5em;
    font-weight: 300;
    color: #555;
}

section.statistics .user-activity .progress {
    border-radius: 0;
    background: #f5f5f5;
}

section.statistics .user-activity .progress .progress-bar.bg-primary {
    background: #1E4770 !important;
}

section.statistics .user-activity .page-statistics {
    margin-top: 20px;
}

section.statistics .user-activity .page-statistics strong {
    display: block;
    text-transform: uppercase;
    color: #1E4770;
    font-size: 2em;
}

/* STATISTICS  MEDIAQUERIES ------------------------- */
@media (max-width: 992px) {
    section.statistics {
        padding-top: 0;
    }
    section.statistics div[class*='col-'] .wrapper {
        margin-bottom: 40px;
    }
    section.statistics div[class*='col-']:last-of-type .wrapper {
        margin-bottom: 0;
    }
    section.statistics .data-usage {
        text-align: center;
    }
}

@media (max-width: 992px) {
    section.statistics div[class*='col-'] .wrapper {
        height: auto;
        margin-bottom: 40px;
    }
    section.statistics div[class*='col-']:last-of-type .wrapper {
        margin-bottom: 0;
    }
    section.statistics .data-usage div[class*='col-']:first-of-type {
        padding-bottom: 20px;
    }
    section.statistics .data-usage .gmpc {
        padding-bottom: 20px !important;
    }
    p {
        font-size: 0.75em;
    }
}

@media (min-width: 992px) {
    section.statistics h2 {
        font-size: 1.3rem;
    }
}

/*
* ==========================================================
*      UPDATES SECTION
* ==========================================================
*/
section.updates div[class*="col-"] > div {
    background: #fff;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

section.updates .left-col {
    padding-right: 20px;
}

section.updates .card-header {
    height: 50px;
    background: #fff;
    border-top: none;
    border-bottom-color: #f3f3f3;
}

section.updates .card-header h2 {
    color: #555;
}

section.updates .icon {
    margin-right: 10px;
}

section.updates li {
    border-bottom: 1px solid #f3f3f3;
    padding: .75rem 1.25rem;
}

section.updates .update-date {
    font-size: 1.3em;
    font-weight: 700;
    color: #bbb;
    display: block;
}

section.updates span {
    font-size: 0.7em;
    font-weight: 300;
    color: #aaa;
    line-height: 0.5em;
    display: block;
}

section.updates strong {
    font-weight: 400;
    color: #555;
    font-size: 0.9em;
}

section.updates small {
    font-size: 0.75em;
}

section.updates a {
    color: #555;
}

section.updates a:hover, section.updates a:focus {
    color: #555;
    text-decoration: none;
}

section.updates h2 {
    margin-bottom: 0;
}

section.updates p {
    font-size: 0.9em;
    color: #999;
    margin-bottom: 5px;
}

/* UPDATES MEDIAQUERIES ------------------------- */
@media (min-width: 992px) {
    section.updates h2 {
        font-size: 1.05rem;
    }
    section.updates strong {
        font-size: 1em;
        font-weight: 400;
    }
    section.updates small {
        font-size: 0.85em;
    }
    section.updates .full-date {
        font-size: 0.85em;
    }
}

/*
* ==========================================================
*      FEEDS SECTION
* ==========================================================
*/
section.updates {
    /*  Daily Feeds ------------------- */
    /* Activities  ------------------- */
}

section.updates .daily-feeds a.feed-profile {
    margin-right: 10px;
    width: 45px;
    height: 45px;
}

section.updates .daily-feeds a.feed-profile img {
    width: 100%;
    height: 100%;
}

section.updates .daily-feeds .badge {
    margin-right: 10px;
}

section.updates .daily-feeds strong {
    display: inline-block;
    margin-right: 5px;
}

section.updates .daily-feeds small {
    color: #999;
    display: block;
    margin-bottom: 5px;
}

section.updates .daily-feeds .card {
    padding: 10px;
    background: #fafafa;
    margin-left: 55px;
    margin-top: 10px;
}

section.updates .daily-feeds .full-date {
    line-height: 0.7em;
    margin-bottom: 10px;
}

section.updates .daily-feeds .CTAs a {
    margin-right: 5px;
}

section.updates .daily-feeds .CTAs a i {
    margin-right: 5px;
}

section.updates .daily-feeds .CTAs a:last-of-type {
    margin-right: 0;
}

section.updates .activities li {
    padding: 0;
}

section.updates .activities .date-holder {
    padding-right: 0;
}

section.updates .activities .date-holder .date {
    box-shadow: none;
}

section.updates .activities .date-holder .date span {
    font-size: 0.8em;
}

section.updates .activities .date-holder .icon {
    width: 30px;
    height: 30px;
    line-height: 30px;
    background: #f5f5f5;
    text-align: center;
    margin: 0;
    display: inline-block;
}

section.updates .activities .date-holder span {
    display: block;
    margin: 10px;
}

section.updates .activities .content {
    border-left: 1px solid #eee;
    border-bottom: 20px;
    padding: 10px 20px;
}

section.updates .activities .content strong {
    display: block;
    margin-right: 5px;
}

/* FEEDS MEDIAQUERIES ------------------------- */
@media (max-width: 1091px) {
    section.updates div[class*='col-'] .wrapper {
        margin-bottom: 40px;
    }
}

@media (min-width: 992px) {
    section.updates strong {
        font-size: 1em;
    }
    section.updates small {
        font-size: 0.8em;
    }
}

/*
* ==========================================================
*       MAIN FOOTER
* ==========================================================
*/
footer.main-footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    background: #FFFFFF;
    padding: 10px 0;
}

footer.main-footer p {
    font-size: 0.7em;
    color: #777;
    margin: 0;
}

/* MAIN FOOTER MEDIAQUERIES ------------------------- */
@media (max-width: 576px) {
    footer.main-footer div[class*="col-"] {
        text-align: center !important;
    }
}

@media (min-width: 992px) {
    footer.main-footer p {
        font-size: 12px;
    }
}

section.charts div[class*="col-"] {
    margin-bottom: 30px;
}

section.charts header {
    padding: 30px 0;
}

/*
* ==========================================================
*     LINE CHART
* ==========================================================
*/
.line-chart-example .card-block {
    padding: 20px;
}

/*
* ==========================================================
*     POLAR CHART
* ==========================================================
*/
.bar-chart-example .card-block {
    padding: 20px;
}

/*
* ==========================================================
*     POLAR CHART
* ==========================================================
*/
.polar-chart-example canvas {
    max-width: 350px;
    max-height: 350px;
    margin: 20px auto;
}

/*
* ==========================================================
*     PIE CHART
* ==========================================================
*/
.pie-chart-example canvas {
    max-width: 350px;
    max-height: 350px;
    margin: 20px auto;
}

/*
* ==========================================================
*     RADAR CHART
* ==========================================================
*/
.radar-chart-example .card-block canvas {
    max-width: 350px;
    max-height: 350px;
    margin: 20px auto;
}

/* FORMS MEDIAQUERIES -------------------------- */
@media (min-width: 992px) {
    section.charts h2 {
        font-size: 1rem;
    }
}

section.forms div[class*="col-"] {
    margin-bottom: 30px;
}

section.forms header {
    padding: 30px 0;
}

section.forms .form {
    background: #fff;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    height: 100%;
}

section.forms .form .form-header {
    padding: 10px 20px;
    background: #fafafa;
}

section.forms .form .form-body {
    padding: 20px;
}

section.forms .line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #eee;
    margin: 20px 0 30px;
}

section.forms .form-group {
    margin-bottom: 0;
}

section.forms .btn-primary, section.forms .btn-secondary {
    font-weight: 300;
    font-size: 0.75em;
    border-radius: 0;
}

/*
* ==========================================================
*     FORMS GENERAL
* ==========================================================
*/
section.forms p {
    font-size: 0.8em;
    color: #999;
}

section.forms input.form-control {
    border-radius: 0;
}

section.forms input.form-control::-moz-placeholder {
    font-size: 0.75em;
    font-weight: 300;
    color: #aaa;
    /*font-family: "Roboto", sans-serif;*/
}

section.forms input.form-control::-webkit-input-placeholder {
    font-size: 0.75em;
    font-weight: 300;
    color: #aaa;
    /*font-family: "Roboto", sans-serif;*/
}

section.forms input.form-control:-ms-input-placeholder {
    font-size: 0.75em;
    font-weight: 300;
    color: #aaa;
    /*font-family: "Roboto", sans-serif;*/
}

section.forms .select {
    margin-bottom: 20px;
}

section.forms .select:last-of-type {
    margin-bottom: 0;
}

section.forms select {
    border-radius: 0;
    border-color: #ddd;
    font-weight: 300;
    /*font-family: "Roboto", sans-serif;*/
}

section.forms select option {
    color: #999;
    font-weight: 300;
}

section.forms .form-group {
    margin-bottom: 10px;
}

section.forms .form-group div[class*='col-'] {
    margin-bottom: 10px;
}

section.forms label {
    font-size: 0.8em;
}

section.forms small, section.forms span {
    font-size: 0.65em;
    color: #999;
}

section.forms label span, section.forms label small {
    font-size: 0.8em;
}

section.forms .input-group-addon {
    border-radius: 0;
    background: #f5f5f5;
}

section.forms span.input-group-addon {
    font-size: 0.8em;
    font-weight: 300;
    background: none;
}

section.forms .input-group-btn {
    font-size: 1em;
}

section.forms .input-group-btn button.dropdown-toggle {
    background: #eee;
    font-size: 0.8em;
    color: #777;
    box-shadow: none;
    cursor: pointer;
}

section.forms .input-group-btn .dropdown-menu {
    padding: 10px;
    font-size: 0.8em;
    color: #777;
}

section.forms .input-group-btn .dropdown-menu a {
    text-decoration: none;
    color: inherit;
    padding: 4px 0;
}

/* FORMS MEDIAQUERIES -------------------------- */
@media (min-width: 992px) {
    section.forms h2 {
        font-size: 1rem;
    }
    section.forms input.form-control {
        border-radius: 0;
    }
    section.forms input.form-control::-moz-placeholder {
        font-size: 0.85em;
    }
    section.forms input.form-control::-webkit-input-placeholder {
        font-size: 0.85em;
    }
    section.forms input.form-control:-ms-input-placeholder {
        font-size: 0.85em;
    }
    section.forms p {
        font-size: 0.9em;
    }
    section.forms label {
        font-size: 0.9em;
    }
    section.forms small, section.forms span {
        font-size: 0.8em;
        color: #999;
    }
    section.forms label span, section.forms label small {
        font-size: 0.9em;
    }
    section.forms .btn-primary, section.forms .btn-secondary {
        font-size: 0.95em;
    }
}

/*
* ==========================================================
*     LOGIN PAGE
* ==========================================================
*/
.login-page,
.register-page {
    background: #f5f5f5;
    min-height: auto;
    padding-bottom: 0;
}

.login-page .form-outer,
.register-page .form-outer {
    min-height: 100vh;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px 0;
    position: relative;
}

.login-page .copyrights,
.register-page .copyrights {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
}

.login-page .copyrights p,
.register-page .copyrights p {
    font-size: 0.6em;
    font-weight: 300;
    margin-bottom: 10px;
}

.login-page .form-inner,
.register-page .form-inner {
    padding: 40px 30px;
    background: #fff;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.login-page .logo,
.register-page .logo {
    font-size: 2em;
    font-weight: 500;
}

.login-page .logo span,
.register-page .logo span {
    color: #ccc;
}

.login-page p,
.register-page p {
    font-size: 0.8em;
    font-weight: 300;
    color: #aaa;
    margin-bottom: 0;
}

.login-page form,
.register-page form {
    margin: 0 auto 10px;
    max-width: 300px;
}

.login-page form .form-group,
.register-page form .form-group {
    position: relative;
}

.login-page form input,
.register-page form input {
    outline: none;
    border-radius: 0;
    width: 100%;
    margin-right: 10px;
    padding: 6px 10px;
    color: #333;
    font-weight: 300;
    border: none;
    border-bottom: 1px solid #ddd;
    text-align: center;
    margin-top: 20px;
    font-size: 0.9em;
}

.login-page form input[type='text'], .login-page form input[type='password'], .login-page form input[type='email'],
.register-page form input[type='text'],
.register-page form input[type='password'],
.register-page form input[type='email'] {
    background: none;
}

.login-page form input[type='submit'],
.register-page form input[type='submit'] {
    width: 200px;
    border-radius: 50px;
    text-transform: uppercase;
    font-weight: 300;
    cursor: pointer;
    font-size: 0.8em;
    margin-bottom: 0;
    color: #fff;
}

.login-page form label.error,
.register-page form label.error {
    font-size: 0.7em;
    color: #d9534f;
    margin-bottom: 0;
}

.login-page form label.label-custom,
.register-page form label.label-custom {
    font-size: 0.8em;
    font-weight: 300;
    color: #aaa;
    position: absolute;
    top: 30px;
    right: 0;
    width: 100%;
    cursor: text;
    transition: all 0.4s;
}

.login-page form label.label-custom.active,
.register-page form label.label-custom.active {
    top: 5px;
    color: #1E4770;
}

.login-page a.forgot-pass,
.login-page a.signup,
.register-page a.forgot-pass,
.register-page a.signup {
    font-size: 0.65em;
    color: #43a7fd;
}

.login-page a.forgot-pass:hover, .login-page a.forgot-pass:focus,
.login-page a.signup:hover,
.login-page a.signup:focus,
.register-page a.forgot-pass:hover,
.register-page a.forgot-pass:focus,
.register-page a.signup:hover,
.register-page a.signup:focus {
    color: #43a7fd;
    text-decoration: none;
}

.login-page a.forgot-pass,
.register-page a.forgot-pass {
    display: block;
}

.login-page a.create-account,
.register-page a.create-account {
    border-radius: 50px;
    font-size: 0.75em;
    margin-top: 10px;
    color: #999;
    text-transform: uppercase;
}

.login-page .terms-conditions,
.register-page .terms-conditions {
    margin-top: 20px;
}

.login-page small,
.register-page small {
    font-size: 0.65em;
    color: #aaa;
    line-height: 0.9em;
}

/* LOGIN MEDIAQUERIES -------------------------- */
@media (min-width: 992px) {
    .login-page p,
    .register-page p {
        font-size: 0.9em;
    }
    .login-page form label.label-custom,
    .register-page form label.label-custom {
        font-size: 0.9em;
    }
    .login-page form small,
    .register-page form small {
        font-size: 0.8em;
    }
    .login-page .terms-conditions label,
    .register-page .terms-conditions label {
        font-size: 0.9em;
    }
    .login-page a.forgot-pass,
    .login-page a.signup,
    .register-page a.forgot-pass,
    .register-page a.signup {
        font-size: 0.8em;
    }
    .login-page small,
    .register-page small {
        font-size: 0.8em;
    }
    .login-page .copyrights p,
    .register-page .copyrights p {
        font-size: 0.85em;
        font-weight: 400;
    }
}

/*

=====================
STYLE SWITCHER FOR DEMO
=====================

*/
#style-switch-button {
    position: fixed;
    top: 120px;
    right: 0px;
    border-radius: 0;
    z-index: 2;
}

#style-switch {
    width: 300px;
    padding: 20px;
    position: fixed;
    top: 160px;
    right: 0;
    background: #fff;
    border: solid 1px #eceeef;
    z-index: 2000;
}

#style-switch h4 {
    color: #464a4c;
}

/* ========================================= */
/* THEMING OF BOOTSTRAP COMPONENTS           */
/* ========================================= */
/*
 * 1. NAVBAR
 */
.navbar {
    padding: 0rem 0rem;
}

.navbar-brand {
    display: inline-block;
    padding-top: .25rem;
    padding-bottom: .25rem;
    margin-right: 1rem;
    font-size: 1.25rem;
}

.navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

.navbar-toggler-left {
    left: 1rem;
}

.navbar-toggler-right {
    right: 1rem;
}

.navbar-light .navbar-brand,
.navbar-light .navbar-toggler {
    color: rgba(0, 0, 0, 0.9);
}

.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover,
.navbar-light .navbar-toggler:focus,
.navbar-light .navbar-toggler:hover {
    color: rgba(0, 0, 0, 0.9);
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(0, 0, 0, 0.5);
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: rgba(0, 0, 0, 0.7);
}

.navbar-light .navbar-nav .nav-link.disabled {
    color: rgba(0, 0, 0, 0.3);
}

.navbar-light .navbar-nav .open > .nav-link,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.open,
.navbar-light .navbar-nav .nav-link.active {
    color: rgba(0, 0, 0, 0.9);
}

.navbar-light .navbar-toggler {
    border-color: rgba(0, 0, 0, 0.1);
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-light .navbar-text {
    color: rgba(0, 0, 0, 0.5);
}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-toggler {
    color: white;
}

.navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-toggler:focus,
.navbar-inverse .navbar-toggler:hover {
    color: white;
}

.navbar-inverse .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.5);
}

.navbar-inverse .navbar-nav .nav-link:focus, .navbar-inverse .navbar-nav .nav-link:hover {
    color: rgba(255, 255, 255, 0.75);
}

.navbar-inverse .navbar-nav .nav-link.disabled {
    color: rgba(255, 255, 255, 0.25);
}

.navbar-inverse .navbar-nav .open > .nav-link,
.navbar-inverse .navbar-nav .active > .nav-link,
.navbar-inverse .navbar-nav .nav-link.open,
.navbar-inverse .navbar-nav .nav-link.active {
    color: white;
}

.navbar-inverse .navbar-toggler {
    border-color: rgba(255, 255, 255, 0.1);
}

.navbar-inverse .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-inverse .navbar-text {
    color: rgba(255, 255, 255, 0.5);
}

/*
 * 2. BUTTONS
 */
.btn {
    font-weight: normal;
    line-height: 1.25;
    border: 1px solid transparent;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: all 0.2s ease-in-out;
}

.btn:focus, .btn.focus {
    outline: 0;
    box-shadow: 0 0 0 2px rgba(51, 179, 90, 0.25);
}

.btn:active, .btn.active {
    background-image: none;
}

a.btn.disabled,
fieldset[disabled] a.btn {
    pointer-events: none;
}

.btn-primary {
    color: #fff;
    background-color: #1E4770;
    border-color: #1E4770;
}

.btn-primary:hover {
    color: #fff;
    background-color: #288b46;
    border-color: #258342;
}

.btn-primary:focus, .btn-primary.focus {
    box-shadow: 0 0 0 2px rgba(51, 179, 90, 0.5);
}

.btn-primary.disabled, .btn-primary:disabled {
    background-color: #1E4770;
    border-color: #1E4770;
}

.btn-primary:active, .btn-primary.active,
.show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #288b46;
    background-image: none;
    border-color: #258342;
}

.btn-secondary {
    color: #292b2c;
    background-color: #fff;
    border-color: #ccc;
}

.btn-secondary:hover {
    color: #292b2c;
    background-color: #e6e6e6;
    border-color: #adadad;
}

.btn-secondary:focus, .btn-secondary.focus {
    box-shadow: 0 0 0 2px rgba(204, 204, 204, 0.5);
}

.btn-secondary.disabled, .btn-secondary:disabled {
    background-color: #fff;
    border-color: #ccc;
}

.btn-secondary:active, .btn-secondary.active,
.show > .btn-secondary.dropdown-toggle {
    color: #292b2c;
    background-color: #e6e6e6;
    background-image: none;
    border-color: #adadad;
}

.btn-info {
    color: #fff;
    background-color: #5bc0de;
    border-color: #5bc0de;
}

.btn-info:hover {
    color: #fff;
    background-color: #31b0d5;
    border-color: #2aabd2;
}

.btn-info:focus, .btn-info.focus {
    box-shadow: 0 0 0 2px rgba(91, 192, 222, 0.5);
}

.btn-info.disabled, .btn-info:disabled {
    background-color: #5bc0de;
    border-color: #5bc0de;
}

.btn-info:active, .btn-info.active,
.show > .btn-info.dropdown-toggle {
    color: #fff;
    background-color: #31b0d5;
    background-image: none;
    border-color: #2aabd2;
}

.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #5cb85c;
}

.btn-success:hover {
    color: #fff;
    background-color: #449d44;
    border-color: #419641;
}

.btn-success:focus, .btn-success.focus {
    box-shadow: 0 0 0 2px rgba(92, 184, 92, 0.5);
}

.btn-success.disabled, .btn-success:disabled {
    background-color: #5cb85c;
    border-color: #5cb85c;
}

.btn-success:active, .btn-success.active,
.show > .btn-success.dropdown-toggle {
    color: #fff;
    background-color: #449d44;
    background-image: none;
    border-color: #419641;
}

.btn-warning {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #f0ad4e;
}

.btn-warning:hover {
    color: #fff;
    background-color: #ec971f;
    border-color: #eb9316;
}

.btn-warning:focus, .btn-warning.focus {
    box-shadow: 0 0 0 2px rgba(240, 173, 78, 0.5);
}

.btn-warning.disabled, .btn-warning:disabled {
    background-color: #f0ad4e;
    border-color: #f0ad4e;
}

.btn-warning:active, .btn-warning.active,
.show > .btn-warning.dropdown-toggle {
    color: #fff;
    background-color: #ec971f;
    background-image: none;
    border-color: #eb9316;
}

.btn-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d9534f;
}

.btn-danger:hover {
    color: #fff;
    background-color: #c9302c;
    border-color: #c12e2a;
}

.btn-danger:focus, .btn-danger.focus {
    box-shadow: 0 0 0 2px rgba(217, 83, 79, 0.5);
}

.btn-danger.disabled, .btn-danger:disabled {
    background-color: #d9534f;
    border-color: #d9534f;
}

.btn-danger:active, .btn-danger.active,
.show > .btn-danger.dropdown-toggle {
    color: #fff;
    background-color: #c9302c;
    background-image: none;
    border-color: #c12e2a;
}

.btn-outline-primary {
    color: #1E4770;
    background-image: none;
    background-color: transparent;
    border-color: #1E4770;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #1E4770;
    border-color: #1E4770;
}

.btn-outline-primary:focus, .btn-outline-primary.focus {
    box-shadow: 0 0 0 2px rgba(51, 179, 90, 0.5);
}

.btn-outline-primary.disabled, .btn-outline-primary:disabled {
    color: #1E4770;
    background-color: transparent;
}

.btn-outline-primary:active, .btn-outline-primary.active,
.show > .btn-outline-primary.dropdown-toggle {
    color: #fff;
    background-color: #1E4770;
    border-color: #1E4770;
}

.btn-outline-secondary {
    color: #ccc;
    background-image: none;
    background-color: transparent;
    border-color: #ccc;
}

.btn-outline-secondary:hover {
    color: #fff;
    background-color: #ccc;
    border-color: #ccc;
}

.btn-outline-secondary:focus, .btn-outline-secondary.focus {
    box-shadow: 0 0 0 2px rgba(204, 204, 204, 0.5);
}

.btn-outline-secondary.disabled, .btn-outline-secondary:disabled {
    color: #ccc;
    background-color: transparent;
}

.btn-outline-secondary:active, .btn-outline-secondary.active,
.show > .btn-outline-secondary.dropdown-toggle {
    color: #fff;
    background-color: #ccc;
    border-color: #ccc;
}

.btn-outline-info {
    color: #5bc0de;
    background-image: none;
    background-color: transparent;
    border-color: #5bc0de;
}

.btn-outline-info:hover {
    color: #fff;
    background-color: #5bc0de;
    border-color: #5bc0de;
}

.btn-outline-info:focus, .btn-outline-info.focus {
    box-shadow: 0 0 0 2px rgba(91, 192, 222, 0.5);
}

.btn-outline-info.disabled, .btn-outline-info:disabled {
    color: #5bc0de;
    background-color: transparent;
}

.btn-outline-info:active, .btn-outline-info.active,
.show > .btn-outline-info.dropdown-toggle {
    color: #fff;
    background-color: #5bc0de;
    border-color: #5bc0de;
}

.btn-outline-success {
    color: #5cb85c;
    background-image: none;
    background-color: transparent;
    border-color: #5cb85c;
}

.btn-outline-success:hover {
    color: #fff;
    background-color: #5cb85c;
    border-color: #5cb85c;
}

.btn-outline-success:focus, .btn-outline-success.focus {
    box-shadow: 0 0 0 2px rgba(92, 184, 92, 0.5);
}

.btn-outline-success.disabled, .btn-outline-success:disabled {
    color: #5cb85c;
    background-color: transparent;
}

.btn-outline-success:active, .btn-outline-success.active,
.show > .btn-outline-success.dropdown-toggle {
    color: #fff;
    background-color: #5cb85c;
    border-color: #5cb85c;
}

.btn-outline-warning {
    color: #f0ad4e;
    background-image: none;
    background-color: transparent;
    border-color: #f0ad4e;
}

.btn-outline-warning:hover {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #f0ad4e;
}

.btn-outline-warning:focus, .btn-outline-warning.focus {
    box-shadow: 0 0 0 2px rgba(240, 173, 78, 0.5);
}

.btn-outline-warning.disabled, .btn-outline-warning:disabled {
    color: #f0ad4e;
    background-color: transparent;
}

.btn-outline-warning:active, .btn-outline-warning.active,
.show > .btn-outline-warning.dropdown-toggle {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #f0ad4e;
}

.btn-outline-danger {
    color: #d9534f;
    background-image: none;
    background-color: transparent;
    border-color: #d9534f;
}

.btn-outline-danger:hover {
    color: #fff;
    background-color: #d9534f;
    border-color: #d9534f;
}

.btn-outline-danger:focus, .btn-outline-danger.focus {
    box-shadow: 0 0 0 2px rgba(217, 83, 79, 0.5);
}

.btn-outline-danger.disabled, .btn-outline-danger:disabled {
    color: #d9534f;
    background-color: transparent;
}

.btn-outline-danger:active, .btn-outline-danger.active,
.show > .btn-outline-danger.dropdown-toggle {
    color: #fff;
    background-color: #d9534f;
    border-color: #d9534f;
}

.btn-lg {
    padding: 0.75rem 1.5rem;
    font-size: 1.25rem;
    border-radius: 0.3rem;
}

.btn-sm {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    border-radius: 0.2rem;
}

/*
 * 3. TYPE
 */
body {
    /*font-family: "Roboto", sans-serif;*/
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.5;
    color: #292b2c;
    background-color: #fff;
}

a {
    color: #1E4770;
    text-decoration: none;
}

a:focus, a:hover {
    color: #22773c;
    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    margin-bottom: 0.5rem;
    /*font-family: "Roboto", sans-serif;*/
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

h1, .h1 {
    font-size: 1.5rem;
}

h2, .h2 {
    font-size: 1.3rem;
}

h3, .h3 {
    font-size: 1.2rem;
}

h4, .h4 {
    font-size: 1.1rem;
}

h5, .h5 {
    font-size: 0.9rem;
}

h6, .h6 {
    font-size: 0.8rem;
}

.lead {
    font-size: 1.25rem;
    font-weight: 300;
}

.display-1 {
    font-size: 6rem;
    font-weight: 300;
    line-height: 1.1;
}

.display-2 {
    font-size: 5.5rem;
    font-weight: 300;
    line-height: 1.1;
}

.display-3 {
    font-size: 4.5rem;
    font-weight: 300;
    line-height: 1.1;
}

.display-4 {
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.1;
}

.blockquote {
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    font-size: 1.25rem;
    border-left: 0.25rem solid #eceeef;
}

.blockquote-footer {
    color: #636c72;
}

.blockquote-footer::before {
    content: "\2014 \00A0";
}

.blockquote-reverse {
    padding-right: 1rem;
    padding-left: 0;
    text-align: right;
    border-right: 0.25rem solid #eceeef;
    border-left: 0;
}

.text-primary {
    color: white !important;
}

a.text-primary:focus, a.text-primary:hover {
    color: #288b46 !important;
}

/*
 * 4. PAGINATION
 */
.page-item:first-child .page-link {
    margin-left: 0;
    border-bottom-left-radius: 0.25rem;
    border-top-left-radius: 0.25rem;
}

.page-item:last-child .page-link {
    border-bottom-right-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

.page-item.active .page-link {
    z-index: 2;
    color: #fff;
    background-color: #1E4770;
    border-color: #1E4770;
}

.page-item.disabled .page-link {
    color: #636c72;
    pointer-events: none;
    cursor: not-allowed;
    background-color: #fff;
    border-color: #ddd;
}

.page-link {
    padding: 0.5rem 0.75rem;
    line-height: 1.25;
    color: #1E4770;
    background-color: #fff;
    border: 1px solid #ddd;
}

.page-link:focus, .page-link:hover {
    color: #22773c;
    text-decoration: none;
    background-color: #eceeef;
    border-color: #ddd;
}

.pagination-lg .page-link {
    padding: 0.75rem 1.5rem;
    font-size: 1.25rem;
}

.pagination-lg .page-item:first-child .page-link {
    border-bottom-left-radius: 0.3rem;
    border-top-left-radius: 0.3rem;
}

.pagination-lg .page-item:last-child .page-link {
    border-bottom-right-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
}

.pagination-sm .page-link {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
}

.pagination-sm .page-item:first-child .page-link {
    border-bottom-left-radius: 0.2rem;
    border-top-left-radius: 0.2rem;
}

.pagination-sm .page-item:last-child .page-link {
    border-bottom-right-radius: 0.2rem;
    border-top-right-radius: 0.2rem;
}
